.brillo {
    background-color: #0070c9;
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    transition: 0.2s;
    position: relative;
}

div,
h2 {
    margin: 0 ;
    text-align: center;
    padding: 10px;
}

.brillo:hover {
    transform: scale(1.2);
}

/* 
=========================
Diferencia entre la pseudoclase( : ) y pseudoelementos ( :: )
Mientras que el pseudoelemento atiende al aspecto estetico especificamente
y pseudoclase atiende al estado del elemento.

::before y ::after

*/
.brillo:after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom,
            rgba(229, 172, 142, 0),            /* Color Satinado(rgba) */
            rgba(255, 255, 255, 0.5)50%,
            rgba(229, 172, 142, 0)       );

    transform: rotateZ(60deg) translate(-5em, 7.5em); /* Grados(deg) */
    top: -50%;
    bottom: -50%;
    right: -50%;
    left: -50%;
}

@keyframes reflejo {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.brillo:hover::after,
.brillo:focus::after {
    animation: reflejo 1.2s;
}

.arcoiris {
    background-color: #343A40;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    font-size: bold;
}

.a {
    color: #e7484f;
}

.b {
    color: #f68b1d;
}

.c {
    color: #fced00;
}

.d {
    color: #009e4f;
}

.e {
    color: #00aac3;
}

.f {
    color: #732982;
}

.arcoiris:hover {
    background: linear-gradient(to right,
            red, orange, yellow, green, blue, indigo, violet, red);
    animation: desliza 2s linear infinite;
}

@keyframes desliza {
    100% {
        background-position: 80px;
    }
}