p {
    background-color: #ededed;
    font-family: xx-large;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

nav {
    width: 200px;
    background-color: #e4d9e0;
    margin: 0px auto;
    /* margin: Establecerá los margenes para los cuatro lados.
    Es una abreviacion para evitar tener que establecer cada lado
    por separado con las otras propiedades de margen
     */
}

li a {
    color: #238cf5;
    text-decoration: none;

}
li{
    list-style: none;
    text-align: left;
}

span {
    background-color: #68aaec;
    padding: 20px;
    color: white;
    font-size: 50px;
    /* 
    Display: Valores mas utilizados son: block e inline.
    La dimension que posee el propio elemento hace que se comporte como un bloque.
    Block, se transforma en un elemento de bloque por lo que siempre, empieza una nueva linea y ademas
    ocupará el espacio disponible en la propia linea., aunque sus contenedores no ocupen todo su sitio.
    */
    display: block;
}

#tocar {

    /* 
    Opacity: Define la transparencia de un elemento, siendo:
    1 maxima opacidad(solid) y 0 minima opacidad
    */
    opacity: 0;
    height: 0px;
}

.desliz {
    text-align: center;
    width: 100%;
    height: 0px;
    /* 
    Overflow:hidden-> Contenido a recortar y que no se muestra en posición
    */
    overflow: hidden;
    transition: 0.5s;
}

.desliz li {
    padding: 10px;
}

#tocar:checked+.desliz {
    height: 300px;
}