body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
}
div{
    width: 980px;
    margin: 0 auto;
    text-align: center;
}
header{
    width: 980px;
    height: 120px;
    background-color: gold;
}
nav{
    width: 980px;
    height: 80px;
    background-color: navy;
    color: gold;
    float: left;
}
section{
    width: 780px;
    float: left;
    height: 420px;
    background-color: lightgray;
}
article{
    width: 780px;
    background-color: #eee;
    border-bottom: 2px solid lightgray;
    float: left;
    min-height: 200px;
    /* 
    min-height: Si la altura necesaria para mostrar los contenidos de ese elemento son inferiores a esta
    altura minima, se forzará a que la altura de elemento sea igual que la altura minima
    */
}
aside{
    float: right;
    width: 200px;
    height: 220px;
    background-color: salmon;
    border-bottom: 10px solid lightgray;
    margin: auto;
}
footer{
    float: left;
    width: 980px;
    background-color: gold;
    height: 80px;
}
footer p{
    margin: 20px 20px;
    padding-left: 20px;
}