#caja {
    width: 200px;
    height: 200px;
    background-color: orange;
    font-size: 16px;
    text-align: center;
    position: relative;
    /* 
    ==================================
              ANIMACIONES
    ==================================
    Un desarrollo pautado y medido de acciones de movimiento basadas
    en tiempo y espacio(x,y)
    Sintaxis:
    1.nobre
    2.Duracion(seg. o miliseg)
    3.Consecucion 
    */
    animation-name: animacion1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* 
Creacion de la consecucion animada
@heyframes-> puntos de trayectoria. Desde este atributo controlamos
los pasos intermedios o definidos en una secuencia de animacion.
Con lo cual a lo largo de la secuencia sera desarrollado por determinados
puntos de control, o definidos, en un tiempo de ejecucion
*/
@keyframes animacion1 {
    0% {
        background-color: orange;
        font-size: 1em;
    }

    25% {
        background-color: rgb(247, 205, 116);
        font-size: 4em;
        width: 400px;
        border: 0.1em solid black;
        /* 
        La propiedad transform: Nos aporta, poder modificar el espacio,
        teniendo como referencia los ejes de coordenadas. Asi pues nos
        permite hacer rotaciones, traslaciones, 
        */
        transform: translateX(400px);
    }

    50% {
        background-color: orangered;
        font-size: 3em;
        width: 300px;
        transform: translateX(400px) translateY(400px) rotate(45deg);
        opacity: 0;


    }

    75% {
        background-color: orangered;
        font-size: 1em;
        width: 300px;
        transform: translateY(400px);
        border-radius: 10px;
    }

}