body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
}

div{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    color: rgba(195, 246, 195, 0.635);
}

header {
    color: lightblue;
    width: 980px;
    height: 80px;
    background-color: rgba(152, 251, 152, 0.635);
    text-align: left;
    margin: 0 auto;
    text-shadow: 3px 3px 3px rgb(109, 13, 109);
}

nav {
    width: 980px;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.34);
    float: left;
    font-style: oblique;

}

section {
    font-weight: bold;
    width: 780px;
    float: left;
    height: 460px;
    background-color: rgba(152, 251, 152, 0.635);
    
}

article {
    width: 780px;
    background-color: rgba(0, 0, 255, 0.34);
    /* border-bottom: 10px solid rgba(0, 0, 255, 0.34); */
    float: left;
    min-height: 195.5px;
    text-shadow: 1px 1px 1px rgba(53, 85, 53, 0.635);
    /* 
    min-height: Si la altura necesaria para mostrar los contenidos de ese elemento son inferiores a esta
    altura minima, se forzará a que la altura de elemento sea igual que la altura minima
    */
}

aside {
    float: right;
    width: 200px;
    height: 220px;
    background-color: rgba(152, 251, 152, 0.635);
    border-bottom: 10px solid rgba(0, 0, 255, 0.34);
    margin: auto;
    color: rgba(0, 0, 255, 0.34);
    text-shadow: 1px 1px 1px rgb(109, 13, 109);
}

footer {
    float: left;
    width: 980px;
    background-color: rgba(152, 251, 152, 0.635);
    height: 80px;
    color: rgba(0, 0, 255, 0.34);
    text-shadow: 1px 1px 1px rgb(109, 13, 109);
}

footer p {
    margin: 20px 20px;
    padding-left: 20px;
    color: rgba(0, 0, 255, 0.34);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(109, 13, 109);
}
tr{
    color: rgba(0, 0, 255, 0.34);


}

a {
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;

}

h2 {
    text-transform: uppercase;
    color: lightblue;
    text-shadow: 2px 2px 2px rgb(109, 13, 109);
}

h3 {
    text-shadow: 1px 1px 1px rgba(53, 85, 53, 0.635);
}